<br><ng-container>
  <button mat-raised-button color="primary" routerLink="/document">Add</button>
</ng-container>

<div class="container">
  <div class="content">
    <table class="table table-hover">
      <thead>
        <tr>
          <th> Document Name</th>
          <th> Document Url</th>
          <th> Created Date</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obj of document">
          <td>{{obj.name}}</td>
          <td>{{obj.url}}</td>
          <td>{{obj.date}}</td>
          <td><button mat-button color="primary" a [routerLink]="['/document',obj.id]">
              <mat-icon>update</mat-icon>
            </button>
            <button mat-button color="primary" (click)="delete(obj.id)">
              <mat-icon>delete</mat-icon>
            </button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
