<br>
<br>
<form [formGroup]="documentForm">
  <mat-toolbar>DocumentForm
    <div>
      <button mat-icon-button (click)="onBack()">X</button>
    </div>
  </mat-toolbar>
  <div class="content">
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field class="center">
          <input matInput placeholder=" Document Name" name="dname" formControlName="name">
        </mat-form-field>
        <mat-form-field class="center">
          <input matInput type="url" placeholder="OneDrive URL" name="durl" formControlName="url">
        </mat-form-field>

        <mat-form-field class="center">
          <input matInput type="date" placeholder=" Created date" name="cdate" formControlName="date">
        </mat-form-field>
      </div>

    </div><br><br>
    <div class="col-sm-2">
      <button *ngIf="!getparamid" mat-raised-button color="primary" [disabled]="!documentForm.valid"
        (click)="Save(documentForm.value)">Save</button> &nbsp;&nbsp;
      <button *ngIf="getparamid" mat-raised-button color="primary" [disabled]="!documentForm.valid"
        (click)="update()">Update</button>&nbsp;&nbsp;

      <button mat-raised-button color="primary" routerLink="/homedocument">Back</button>
    </div>
    <div class="col-sm-6"></div>
  </div>
  <br><br>

  
</form>
