<div class="mat-elevation-z8">
  <form [formGroup]="contactForm">
    <mat-toolbar color="primary">Contact Form
      <div>
        <button mat-raised-button routerLink="/institution">X</button>
      </div>
    </mat-toolbar>
    <div class="content">

      <div class="row">
        <div class="col-sm-6">
          <mat-form-field class="center">
            <input matInput placeholder=" Contact Name" name="name" formControlName="name">
          </mat-form-field>
          <mat-form-field class="center">
            <input matInput placeholder=" Contact Phone" name="phone" formControlName="phone">
          </mat-form-field>
          <mat-form-field class="center">
            <input matInput placeholder=" Contact Email" name="email" formControlName="email">
          </mat-form-field>
          <mat-form-field class="center">
            <input matInput placeholder="Designation" name="designation" formControlName="designation">
          </mat-form-field>

          <mat-form-field class="center">
            <input matInput type="date" placeholder=" Created date" name="date" formControlName="date">
          </mat-form-field>

        </div>
        <div class="col-sm-6">

          <mat-form-field class="center">
            <input matInput placeholder="School Name" formControlName="school">
          </mat-form-field>
          <mat-form-field class="center">
            <input matInput placeholder="Rnumber" formControlName="rnum">
          </mat-form-field>
          <mat-form-field class="center">
            <input matInput placeholder="Place" formControlName="place">
          </mat-form-field>
          <mat-form-field class="center">
            <input matInput placeholder="Contact Status" name="status" formControlName="status">
          </mat-form-field>

        </div>
      </div>

      <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-2">
          <button *ngIf="!getparamid" mat-raised-button color="primary" [disabled]="!contactForm.valid"
            (click)="Save(contactForm.value)">Save</button> &nbsp;&nbsp;
          <button *ngIf="getparamid" mat-raised-button color="primary" [disabled]="!contactForm.valid"
            (click)="update()">Update</button>&nbsp;&nbsp;

          <button mat-raised-button color="primary" routerLink="/institution">Back</button>
        </div>
        <div class="col-sm-6"></div>
      </div>

    </div>
  </form>
</div>
