<ng-template [ngIf]="!_auth.isauthenticated()">
  <mat-toolbar class="menu" color="primary">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
        close
      </mat-icon>
    </button>Institution Information
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" opened>
      <!-- <button mat-button class="menu-button" routerLink="">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button><br> -->
      <button mat-button class="menu-button" (click)="onlogin()">
        <mat-icon> login</mat-icon>
        <span>Login</span>
      </button><br>

    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>


</ng-template>


<!-- <mat-toolbar color="primary" class="mat-elevation-z8">
    Institution Information
    <div class="button">
      <ng-template [ngIf]="!_auth.isauthenticated()">
            <button mat-fab color="primary" (click)="onlogin()">
          Login
        </button>
      </ng-template> &nbsp; &nbsp;
      <ng-template [ngIf]="!_auth.isauthenticated()">
        <button mat-fab color="primary" routerLink="">
          <mat-icon>home</mat-icon>
        </button>
      </ng-template>
      <ng-template [ngIf]="_auth.isauthenticated()">
        <button mat-fab color="primary" (click)="onLogout()">Logout</button>
      </ng-template>

    </div>
  </mat-toolbar> -->

<ng-template [ngIf]="_auth.isauthenticated()">
  <mat-toolbar class="menu" color="primary">
    <button mat-icon-button (click)="toggle(sidenav)">
      <mat-icon *ngIf="!sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
        close
      </mat-icon>
    </button>Menu
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav opened mode="side">

      <button mat-button class="menu-button" (click)="onhome()">
        <mat-icon> home</mat-icon>
        <span>Home</span>
      </button><br>
      <button mat-button [matMenuTriggerFor]="institute" class="menu-button">
        <mat-icon>school</mat-icon>Add Insititution
      </button>
      <mat-menu #institute="matMenu" class="menu-button">
        <button mat-menu-item [matMenuTriggerFor]="institution">Institution</button>
      </mat-menu>

      <mat-menu #institution="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="info">Info</button>
        <button mat-menu-item [matMenuTriggerFor]="update">Update</button>
        <button mat-menu-item [matMenuTriggerFor]="contact">Contact</button>
        <button mat-menu-item [matMenuTriggerFor]="document">Document</button>
        <button mat-menu-item [matMenuTriggerFor]="notes">Notes</button>
      </mat-menu>


      <mat-menu #info="matMenu">
        <button mat-menu-item routerLink="/homeinfo">View</button>
        <button mat-menu-item routerLink="/info">Add Info</button>
      </mat-menu>

      <mat-menu #update="matMenu">
        <button mat-menu-item routerLink="/homeupdate">View</button>
        <button mat-menu-item routerLink="/update">Add Year update</button>
      </mat-menu>

      <mat-menu #document="matMenu">
        <button mat-menu-item routerLink="/homedocument">View</button>
        <button mat-menu-item routerLink="/document">Add Document</button>
      </mat-menu>

      <mat-menu #contact="matMenu">
        <button mat-menu-item routerLink="/homecontact">View</button>
        <button mat-menu-item routerLink="/contact">Add Contact</button>
      </mat-menu>

      <mat-menu #notes="matMenu">
        <button mat-menu-item routerLink="/homenotes">View</button>
        <button mat-menu-item routerLink="/notes">Add notes</button>
      </mat-menu>
      <br>
      <!-- <button mat-button class="menu-button" [matMenuTriggerFor]="menu">
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/old">Old Student</button>
          <button mat-menu-item routerLink="/homestu">New Students</button>
        </mat-menu>
        <mat-icon>group</mat-icon>
        <span>Student</span>
      </button><br>
      <button mat-button class="menu-button" routerLink="/student">
        <mat-icon>reorder</mat-icon>
        <span>Rank</span>
      </button><br> -->
      <button mat-button class="menu-button" (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button><br>


    </mat-sidenav>
    <mat-sidenav-content>

      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</ng-template>
