<mat-toolbar color="primary" class="mat-elevation-z8">
  Institution Information
  <div class="button">
    <ng-template [ngIf]="!_auth.isauthenticated()">
      <button mat-fab color="primary" routerLink="/login">
        Login
      </button> </ng-template> &nbsp; &nbsp;
    <ng-template [ngIf]="!_auth.isauthenticated()">
      <button mat-fab color="primary" routerLink="">
        <mat-icon>home</mat-icon>
      </button></ng-template>
    <ng-template [ngIf]="_auth.isauthenticated()">
      <button  mat-fab color="primary" (click)="onLogout()">Logout</button> </ng-template>
  </div>
</mat-toolbar>


<form>

  <nav>
    <div class="form-control">
      <div class="row">
        <div class="form-group">
          <mat-toolbar class="tab">
            <ng-template [ngIf]="_auth.isauthenticated()">
              <mat-tab-group>
                <mat-tab>
                  <ng-template mat-tab-label>
                    <a routerLink="/homeinfo">
                      <mat-icon>home</mat-icon>
                      Info
                    </a>
                  </ng-template>
                </mat-tab>
                <mat-tab>
                  <ng-template mat-tab-label>
                    <a routerLink="/homeupdate">
                      <mat-icon>upload</mat-icon>
                      Update
                    </a>
                  </ng-template>
                </mat-tab>
                <mat-tab>
                  <ng-template mat-tab-label>
                    <a routerLink="/homecontact">
                      <mat-icon> supervisor_account </mat-icon>
                      Contact
                    </a>
                  </ng-template>
                </mat-tab>
                <mat-tab>
                  <ng-template mat-tab-label>
                    <a routerLink="/homedocument">
                      <mat-icon> attach_file </mat-icon>
                      Document
                    </a>
                  </ng-template>
                </mat-tab>
                <mat-tab>
                  <ng-template mat-tab-label>
                    <a routerLink="/homenotes">
                      <mat-icon>note_add</mat-icon>
                      Notes
                    </a>
                  </ng-template>
                </mat-tab>
              </mat-tab-group>
            </ng-template>
          </mat-toolbar>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </nav>
</form>
