<div class="mat-elevation-z8">
  <mat-toolbar color="primary">
    Institution Details
    <button mat-icon-button (click)="onBack()">X</button>
  </mat-toolbar><br>
  <mat-tab-group>
    <mat-tab label="Info">
      <app-homeinfo></app-homeinfo>
    </mat-tab>
    <mat-tab label="Yearly Update">
      <app-homeupdate></app-homeupdate>
    </mat-tab>
    <mat-tab label="Contact">
      <app-homecontact></app-homecontact>
    </mat-tab>
    <mat-tab label="Document">
      <app-homedocument></app-homedocument>
    </mat-tab>
    <mat-tab label="Notes">

      <app-homenotes></app-homenotes>
    </mat-tab>

  </mat-tab-group>
  <br><br><br><br>
</div>
