<br>
<br>
<form [formGroup]="noteForm">
  <div class="content">
    <div class="row">

      <div class="center">

        <mat-form-field class="center">
          <textarea matInput placeholder="Notes" formControlName="notes" name="notes"></textarea>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field class="center">
          <input matInput type="date" placeholder=" Created date" formControlName="date" name="date">
        </mat-form-field>
      </div>

    </div><br><br>
    <div class="row">
      <div class="col-sm-6"></div>
      <div class="col-sm-2">
        <button mat-raised-button color="primary" [disabled]="!noteForm.valid" (click)="save()">Save</button>
      </div>
      <div class="col-sm-6"></div>
    </div>
    <br><br>

  </div>
  <div class="Table">
    <table class="table">
      <tr>
        <th> Notes</th>
        <th> Created Date</th>
      </tr>
      <tr *ngFor="let obj of mynotes">
        <td>{{obj.notes}}</td>
        <td>{{obj.date}}</td>

        <td><button mat-icon-button color="primary" (click)="delete()">Delete</button></td>
      </tr>
    </table>
    <div class="row">
      <div class="col-sm-6"></div>
      <div class="col-sm-4">
        <button mat-raised-button color="primary" (click)="Save()">Save</button>&nbsp;
        <button mat-raised-button color="primary" routerLink="/homenotes">Back</button>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</form>
