<div class="content mat-elevation-z8">
  <ng-container>
    <button mat-raised-button color="primary" routerLink="/notes">Add</button>
  </ng-container> <br> <br>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="notes" matSort>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="notes"> Document Name </th>
        <td mat-cell *matCellDef="let element"> {{element.notes}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="date">Created Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>


      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Modify </th>
        <td mat-cell *matCellDef="let obj">
          <button mat-button color="primary" a [routerLink]="['/notes',obj.id]">
            <mat-icon>update</mat-icon>
          </button>
          <button mat-button color="primary" (click)="delete(obj.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5,10,15]" showFirstLastButtons></mat-paginator>
  </div><br>

</div>
