<br><br>
<button mat-raised-button color="primary" routerLink="/update">Add</button>
<div class="container">
  <div class="content">
    <table class="table">
      <tr>
        <th>Year</th>
        <th>Is visited</th>
        <th>PPT Presented</th>
        <th>Cash Received</th>
        <th>Response</th>
        <th>Headname</th>
        <th>Process Status</th>
        <th>Created Date</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td><button mat-button color="primary">
            <mat-icon>update</mat-icon>
          </button>
          <button mat-button color="primary">
            <mat-icon>delete</mat-icon>
          </button></td>
      </tr>
    </table>
  </div>
</div>
