<div class="container">

  <mat-toolbar color="primary">
    HelpKids Trust Portal
  </mat-toolbar><br><br>
  <div class="content">
    <div class="body">

      <h1>Welcome to HelpKids Trust</h1>
      <h3>The HELP KIDS TRUST Educational Financial Aid Program was Founded on Dec 19, 2009 with a mission to transform
        the
        lives of young underprivileged children by offering sustained support for their educational needs.</h3>
    </div>

    <button mat-raised-button (click)="onClick()" >Add Institution</button>
  </div>

  <div class="footer">
    <mat-toolbar>Thankyou</mat-toolbar>
  </div>
</div>
